<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KrispyXI</title>
    <link rel = "icon" href = "/static/titlelogo.png" type = "image/x-icon">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<style>
footer {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 5em;
}

footer > p:hover {
  color: var(--accent);
}
.footer1 {
    margin-left: 10em;
    margin-top:5%;
    text-align: center;
    padding: 20px 0;
    color: rgba(51, 51, 51, 0.5);
}
</style>
</head>
<body>
    <div class="hero">
        <nav>
            <img src="static/Kris.png" alt="" class="logo">
            <ul>
                <li><a href="{{ url_for('accounts.regis') }}">Register</a></li>
                <li><a href="{{ url_for('accounts.login') }}">Login</a></li>
                <li><a href="">My PORT</a></li>
            </ul>
        </nav>
        <div class="info">
            <h1>I'm <span>Art</span> : Krispy<span>XI </span></h1>
            <p>Hello, I am, art is my portfolio website of friendships to show everyone. <br>✎  What did my friends do in their portfolio? *. * · </p>
            <!-- <p><br>꒰ ˶• ༝ •˶꒱       ♡‧₊˚    ♡<br>./づ~ :¨·.·¨:     ₊˚  <br></p> -->
            <a href="{{ url_for('accounts.regis') }}">Register</a>
            <a href="{{ url_for('accounts.login') }}">Log in</a>
        </div>
        <div class="social-links">
                <a href="#"><i class="fa-sharp fa-solid fa-sparkles"></i></a>
                <a href="#"><i class="fa-sharp fa-solid fa-alien-8bit"></i></a>
                <a href="#"><i class="fa-sharp fa-solid fa-block-question"></i></a>
        </div>
        <footer>
            <div class="footer1">
              Art &copy;
              <script>
                  document.write(new Date().getFullYear())
              </script>. All Right Reserved
          </div>
        </footer>
    </div>


   
</body>
</html>