*{
    margin: 0;
    padding: 0;
}
.hero{
    height: 100vh;
    width: 100%;
    background-color: #edf2fc;
    font-family: sans-serif;
    position: relative;
    /* background-color: #e5e5f7; */
    /* background-size: 52px 52px; */
    /* background-position: 0 0,26px 26px;  */
    background-image: url('bgbg2.png');
}
nav{
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 200px;
    cursor: pointer;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #606163;
}
nav ul li a:hover{
    color: #6d44ffde;
}
.info{
    margin-left: 8% ;
    margin-top: 15%;
}
.info h1{
    font-size:  70px;
    color: #212121;
    margin-bottom: 20px;
}
span{
    color: rgba(90, 114, 253, 0.87);
}
span:hover{
    color: rgba(67, 65, 70, 0.945);
}
.info p{
    color: #606163;
    line-height: 22px;
}
.info a{
    background: #252525;
    padding: 10px 18px;
    text-decoration: none;
    color: rgb(227, 220, 255);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.info a:hover{
    color: #fad0e8;
}
.img-box{
    width: 50%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 200px;
}
.img-box img{
    height: 594px;
    width: 420px;
    position: absolute;
    left:65%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 2s;
    margin-bottom: 140px;
    margin-right: auto;
}
.social-links{
    margin-top: 10px;
    color: #ff4321;
}
.social-links a{
    font-size: 30px;
    color: #606163;
    margin-right: 20px;
}
.social-links a :hover{
    color: #ff4321;
}