
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="generator" content="Hugo 0.108.0">
    <title>View Page jaa</title>
    <link rel = "icon" href = "/static/titlelogo.png" type = "image/x-icon">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/dashboard/">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
     <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(205, 145, 255, 0.932);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(171, 245, 214, 0.973), inset 0 .125em .5em rgba(255, 145, 145, 0.925);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
      .nav link{
        background: #252525;
        padding: 10px 18px;
        text-decoration: none;
        color: rgb(227, 220, 255);
        display: inline-block;
        margin: 30px 0;
        border-radius: 5px;
      }
      .nav link:hover{
        color: #fad0e8;
      }
      .Create{
        background: #252525;
        padding: 10px 18px;
        text-decoration: none;
        color: rgb(227, 220, 255);
        display: inline-flex;
        margin: 30px 0;
        margin-left: 20px;
        border-radius: 5px;
        column-gap: normal;
        position: absolute;
        top: 8%;
      }
      .Create:hover{
        color:#fad0e8;
      }
      .back{
        background: #252525;
        padding: 10px 18px;
        text-decoration: none;
        color: rgb(227, 220, 255);
        display: inline-flex;
        margin: 30px 0;
        margin-left: 20px;
        border-radius: 5px;
        column-gap: normal;
        position: absolute;
        top: 14%;
        transition: 0.3s;
      }
      .back:hover{
        color:#fad0e8;
      }
      .h2{
        background: #252525;
        padding: 10px 18px;
        text-decoration: none;
        color: rgb(255, 189, 189);
        border-radius: 5px;
        transition: 0.3s;
      }
      .h2:hover{
        color: rgb(160, 147, 214);
      }
      ul{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 70%;
        height: max-content;
        border-radius: 5px;
      }
      ul:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      .icon{
        position: absolute;
        left: 0%;
        top: 1%;
        margin-left: 10px;
        background: #252525;
        padding: 8px 15px;
        text-decoration: none;
        color: rgb(227, 220, 255);
        display: inline-flex;
        margin: 30px 0;
        margin-left: 20px;
        border-radius: 5px;
        column-gap: normal;
      }
      .icon:hover{
        color: #daadec;
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
  </head>
  <body style="background-image: url('/static/bgbg2.png');">
    
<header class="navbar">
  <a class="icon" href="#">KrispyXi</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
</header>

<a class = "Create" href="{{ url_for('folios.create') }}">Create Folios</a>
<a class = "back" href="{{ url_for('accounts.dashboard') }}">Back to Dashboard</a>
<div class="container-fluid">
  <div class="row">
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">view here</h1>
      </div>
      <ul>
        <li>{{ folio.name }}</li>
        <li>{{ folio.email }}</li>
        <li>{{ folio.biography }}</li>
        <li>{{ folio.education }}</li>
      </ul>
    </main>
  </div>
</div>

 </body>
</html>

